## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [44]:
#Para ficar mais fácil comparar os resultados seguintes, vou criar um DataFram para vizualização dos resultados
#Criando o Dataframe vazio
notas = pd.DataFrame()

#acrescentando cada coluna 
notas['Matemática'] = df_mat
notas['Portugês'] = df_por
notas['Geografia'] = df_geo 
notas['Inglês'] = df_ing 
notas['História'] = df_his
notas['Física'] = df_fis
notas['Química'] = df_qui

notas

    Matemática  Portugês  Geografia  Inglês  História  Física  Química
0            6         7          7       3         1       8        3
1           19        10          0       0         0      11        8
2           14        16          0       5         7       4        4
3           10         7          3       4         0       0        8
4            7         2          2       7         0       9        3
..         ...       ...        ...     ...       ...     ...      ...
95           6         4          7       1         4       9        3
96           8         1          4       6         1       4        3
97          23         5          0       2         4       1        5
98           0        10          3       1         5      10       11
99          11        15          0       1         6       7        2

[100 rows x 7 columns]

In [89]:
#Totais por prova
tt_mat = 24
tt_por = 18
tt_geo = 8
tt_ing = 8
tt_his = 8
tt_fis = 12
tt_qui = 12

tt_pro = pd.DataFrame([{'Matemática': tt_mat, 'Português': tt_por, 'Geografia': tt_geo,
                        'Inglês': tt_ing, 'História': tt_his, 'Física': tt_fis, 'Química': tt_qui}])

tt_pro ['Total'] = tt_pro.sum(axis = 1)

tt_pro

   Matemática  Português  Geografia  Inglês  História  Física  Química  Total
0          24         18          8       8         8      12       12     90

In [56]:
# 1) Seu código aqui

#Calculando a médias dos alunos por prova

print('O percentual de acertos dos alunos em Matemática foi:', round(100*df_mat['Qt_acertos'].mean()/tt_mat, 2),'%')

print('O percentual de acertos dos alunos em Português foi:', round(100*df_por['Qt_acertos'].mean()/tt_por, 2),'%')

print('O percentual de acertos dos alunos em Geografia foi:', round(100*df_geo['Qt_acertos'].mean()/tt_geo, 2),'%')

print('O percentual de acertos dos alunos em Inglês foi:', round(100*df_ing['Qt_acertos'].mean()/tt_ing, 2),'%')

print('O percentual de acertos dos alunos em História foi:', round(100*df_his['Qt_acertos'].mean()/tt_his, 2),'%')

print('O percentual de acertos dos alunos em Fícisa foi:', round(100*df_fis['Qt_acertos'].mean()/tt_fis, 2),'%')

print('O percentual de acertos dos alunos em Química foi:', round(100*df_qui['Qt_acertos'].mean()/tt_qui, 2),'%')

O percentual de acertos dos alunos em Matemática foi: 49.38 %
O percentual de acertos dos alunos em Português foi: 40.17 %
O percentual de acertos dos alunos em Geografia foi: 42.0 %
O percentual de acertos dos alunos em Inglês foi: 47.62 %
O percentual de acertos dos alunos em História foi: 45.0 %
O percentual de acertos dos alunos em Fícisa foi: 44.33 %
O percentual de acertos dos alunos em Química foi: 45.25 %

In [85]:
# 2) Seu código aqui

#Soma de cada DataFrame calculado por aluno

notas['Total'] = df_mat + df_por + df_geo + df_ing + df_his + df_fis +df_qui

notas

    Matemática  Portugês  Geografia  Inglês  História  Física  Química  Total
0            6         7          7       3         1       8        3     35
1           19        10          0       0         0      11        8     48
2           14        16          0       5         7       4        4     50
3           10         7          3       4         0       0        8     32
4            7         2          2       7         0       9        3     30
..         ...       ...        ...     ...       ...     ...      ...    ...
95           6         4          7       1         4       9        3     34
96           8         1          4       6         1       4        3     27
97          23         5          0       2         4       1        5     40
98           0        10          3       1         5      10       11     40
99          11        15          0       1         6       7        2     42

[100 rows x 8 columns]

In [127]:
# 3) Seu código aqui

#Calculando o porcentual geral por aluno: 
#Soma de todos os acertos (ac_tt) dividido pela quantidade total de pontos possíveis (90 pontos)

maxi = tt_pro.iloc[0, 7]

notas['perc_geral (%)'] = round(notas['Total']*100/maxi, 2)

notas

,Matemática,Portugês,Geografia,Inglês,História,Física,Química,Total,perc_geral (%)
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.78
96,8,1,4,6,1,4,3,27,30.00
97,23,5,0,2,4,1,5,40,44.44
98,0,10,3,1,5,10,11,40,44.44
99,11,15,0,1,6,7,2,42,46.67

In [128]:
# 4) Seu código aqui

# Nota de corte = 45. Quantos alunos tiveram nota maior que 45?

Nota_corte = 45

al_etapa2 = notas[notas['perc_geral (%)'] >= Nota_corte].shape[0]

print('Foram aprovados para a 2ª etspa do vestibular', al_etapa2, 'alunos.')

Foram aprovados para a 2ª etspa do vestibular 47 alunos.

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [137]:
# seu código aqui

#Dataframe de alunos com nota superior a 45 mas 0 em matemática, física ou química

etapa2 = notas[notas['perc_geral (%)'] >= Nota_corte]

zeros = etapa2[etapa2.apply(lambda x: (x['Matemática'] == 0) or (x['Física'] == 0) or (x['Química'] == 0), axis=1)]
zeros

,Matemática,Portugês,Geografia,Inglês,História,Física,Química,Total,perc_geral (%)
12,20,8,3,7,1,0,3,42,46.67
20,23,11,6,5,6,2,0,53,58.89
27,21,13,1,5,7,3,0,50,55.56
35,11,14,6,3,3,0,11,48,53.33
72,11,16,3,4,7,0,9,50,55.56
89,23,11,7,7,6,9,0,63,70.00

In [133]:
#Contagem de alunos 

print(zeros.shape[0], 'alunos com mais de', Nota_corte, 'tem 0 em matemática, física ou química')

6 alunos com mais de 45 tem 0 em matemática, física ou química

In [136]:
# média desses alunos em história e geografia

print('A média desses alunos em História é:', round(100*zeros['História'].mean()/tt_his, 2))
print('A média desses alunos em Geografia é:', round(100*zeros['Geografia'].mean()/tt_geo, 2))

A média desses alunos em História é: 62.5
A média desses alunos em Geografia é: 54.17

In [141]:
#DataFrame dos alunos que passaram para a segunda fase. 

naozeros = etapa2[etapa2.apply(lambda y: (y['Matemática'] != 0) and (y['Física'] != 0) and (y['Química'] != 0), 
                               axis=1)]
naozeros

,Matemática,Portugês,Geografia,Inglês,História,Física,Química,Total,perc_geral (%)
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
5,20,2,5,3,2,9,9,50,55.56
7,18,4,4,7,7,1,8,49,54.44
8,22,9,2,7,6,5,7,58,64.44
11,23,6,2,0,6,4,2,43,47.78
17,21,15,2,2,4,2,6,52,57.78
18,20,4,3,5,3,11,4,50,55.56
24,20,2,7,5,3,11,2,50,55.56
29,16,0,0,2,7,11,8,44,48.89
31,15,13,3,1,3,9,10,54,60.00
34,18,14,1,0,6,3,3,45,50.00
36,22,9,6,6,1,4,8,56,62.22
37,19,12,5,7,1,6,2,52,57.78
39,4,16,2,4,6,9,8,49,54.44
40,18,3,6,3,6,5,6,47,52.22
42,20,6,7,7,2,3,3,48,53.33
44,6,14,7,3,1,3,9,43,47.78
45,17,10,0,2,6,9,4,48,53.33
48,17,6,0,7,5,9,11,55,61.11
50,20,9,0,3,1,7,3,43,47.78
51,1,12,7,3,5,4,10,42,46.67
52,19,5,5,5,0,3,4,41,45.56
53,14,11,3,4,3,7,3,45,50.00
55,11,10,4,4,5,1,6,41,45.56
60,16,8,0,4,4,7,9,48,53.33
62,17,6,2,4,7,1,9,46,51.11
67,21,0,7,2,4,2,10,46,51.11
68,9,9,5,3,6,10,1,43,47.78
70,21,14,0,3,5,11,8,62,68.89
71,17,8,7,6,4,2,9,53,58.89
75,3,6,7,6,6,9,5,42,46.67
77,15,2,5,7,6,11,7,53,58.89
78,14,16,7,2,7,11,9,66,73.33
80,13,16,5,1,7,2,1,45,50.00
81,22,16,2,0,4,1,10,55,61.11
82,7,16,7,1,1,2,9,43,47.78
83,20,1,5,6,3,6,1,42,46.67
88,20,1,1,5,7,9,7,50,55.56
93,12,16,5,5,6,6,6,56,62.22
99,11,15,0,1,6,7,2,42,46.67

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [146]:
#Base de dados utilizados do ACRE part 1
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-97829158-cc41-4c75-aec4-752344e6e938.c000.csv'

In [149]:
#Lendo o arquivo e imprimindo a tabela de dados

vac_ac = pd.read_csv(arquivo, sep = ';')
vac_ac

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a7b2e803-75ae-4c59-baa7-421d87f9a707-i0b0,3e35925a3512d7901cd2974eb662e25b6130ee42e72317...,30,1991-08-30,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,205F21A,JANSSEN,Organization/30587,2022-05-26,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,5ec41855-c5b8-44de-88d0-a474814e9df0-i0b0,ac91ba1d57f1ec0a8c88e393ed7e162914cecaa47d8624...,38,1982-09-20,F,2,PRETA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-02,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,c5b89122-8166-4f7e-9ef3-1a98c8e65d52-i0b0,578eff022445b36a42ef61a011ec5517523a563c5321a7...,20,2001-03-21,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,5ef90995-413a-44df-bfb2-64dec20fc20f-i0b0,6991fbfb4e56ef4193b09f7a6203604356b3c3b739101e...,30,1990-12-07,M,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-03,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,7177c695-3e14-42fd-8a7c-ef76ebe92360-i0b0,b1ead8d542ffb8e8f387426cb6e134d39979759c1ae190...,63,1957-06-09,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,210135,SINOVAC/BUTANTAN,Organization/61189445000156,2021-05-10,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375519,d0ee1a70-f4e5-4508-910f-6434a3bb5095-i0b0,daf068c888c04f19e964f597a9bc89d54ca010379a73d6...,27,1994-04-20,F,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,217VCD227Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-09-14,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
375520,d1265df2-9d20-40e2-9f84-9dfa7a8808f4-i0b0,b482e50a2205812aeb308ca7cce34807ce204629a3ba6b...,68,1953-04-05,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-06-24,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
375521,d1512879-1dcd-4a80-9dca-21597ac68b9b-i0b0,99c9f90fc09e314b4f3dbbf6ecfccc666d5c00c8c2c01c...,17,2004-05-07,M,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
375522,d15e007a-f7d9-43f2-bb5c-94a0986f4cf7-i0b0,00a2cf8cb156ba7c3b61116431c4f1a0a5b175233a872a...,11,2010-08-09,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,FN4073,PFIZER - PEDI?TRICA,28290,2022-07-29,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
375523,d173f9db-b80a-48c7-846f-079692d15503-i0b0,a0b845679aef5f58f18d51940e615aab6c6e97806af574...,24,1997-06-04,M,3,PARDA,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FF8840,PFIZER,Organization/00394544000851,2021-09-27,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [150]:
vac_ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375524 entries, 0 to 375523
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               375524 non-null  object
 1   paciente_id                               375524 non-null  object
 2   paciente_idade                            375524 non-null  int64
 3   paciente_dataNascimento                   375524 non-null  object
 4   paciente_enumSexoBiologico                375524 non-null  object
 5   paciente_racaCor_codigo                   375524 non-null  int64
 6   paciente_racaCor_valor                    375524 non-null  object
 7   paciente_endereco_coIbgeMunicipio         373189 non-null  float64
 8   paciente_endereco_coPais                  373195 non-null  float64
 9   paciente_endereco_nmMunicipio             373194 non-null  object
 10  paciente_endereco_nmPais                  373195 non-null  object
 11  paciente_endereco_uf                      373189 non-null  object
 12  paciente_endereco_cep                     320661 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  375346 non-null  object
 14  estabelecimento_valor                     375524 non-null  int64
 15  estabelecimento_razaoSocial               375524 non-null  object
 16  estalecimento_noFantasia                  375524 non-null  object
 17  estabelecimento_municipio_codigo          375524 non-null  int64
 18  estabelecimento_municipio_nome            375524 non-null  object
 19  estabelecimento_uf                        375524 non-null  object
 20  vacina_grupoAtendimento_codigo            375524 non-null  int64
 21  vacina_grupoAtendimento_nome              374558 non-null  object
 22  vacina_categoria_codigo                   355169 non-null  float64
 23  vacina_categoria_nome                     355169 non-null  object
 24  vacina_lote                               375524 non-null  object
 25  vacina_fabricante_nome                    375524 non-null  object
 26  vacina_fabricante_referencia              373384 non-null  object
 27  vacina_dataAplicacao                      375524 non-null  object
 28  vacina_descricao_dose                     375524 non-null  object
 29  vacina_codigo                             375524 non-null  int64
 30  vacina_nome                               375515 non-null  object
 31  sistema_origem                            375125 non-null  object
dtypes: float64(4), int64(6), object(22)
memory usage: 91.7+ MB

In [155]:
# 1) Sua solução aqui
#Quantas vacinas estão registradas nessa base

print('Foram registradas', vac_ac['document_id'].nunique(), 'aplicações.')
print('Foram registradas', vac_ac['vacina_codigo'].nunique(), 'vacinas diferentes.')

Foram registradas 375524 aplicações.
Foram registradas 11 vacinas diferentes.

In [157]:
# 2) Quantos pacientes foram vacinados?
#Contagem de paciente_id distintos

print('Foram vacinados',vac_ac['paciente_id'].nunique(), 'pacientes únicos.')

Foram vacinados 308842 pacientes únicos.

In [166]:
# 3) Quantos pacientes únicos tomaram a primeira dose?
#Contagem de paciente distintos com a condicional da vacina ser apenas 1ª dose

pri_dose = vac_ac[vac_ac['vacina_descricao_dose'] == '1ª Dose']['paciente_id'].nunique()

print(pri_dose, 'pacientes únicos tomaram a primeira dose')

141243 pacientes únicos tomaram a primeira dose

In [169]:
# 3) solução alternativa
#Criando uma nova tabela com a exclusão dos dados de paciente_id repetidos

pri_dose_alt = vac_ac[vac_ac['vacina_descricao_dose'] == '1ª Dose'].drop_duplicates(
    subset='paciente_id')['paciente_id'].shape[0]

print(pri_dose_alt, 'pacientes únicos tomaram a primeira dose')

141243 pacientes únicos tomaram a primeira dose

In [173]:
# 4)Quantos pacientes com menos de 18 anos foram vacinados?
#Contagem de paciente distintos com a condicional de ter menos de 18 anos

pac_18 = vac_ac[vac_ac['paciente_idade'] < 18]['paciente_id'].nunique()

print(pac_18, 'pacientes vacinados tinham mais de 18 anos')

63276 pacientes vacinados tinham mais de 18 anos

In [232]:
# 5)Quantos estabelecimentos aplicaram vacina no Acre?
#Contagem de valores unicos de nome Fantasia na tabela

estab_uni = vac_ac['estalecimento_noFantasia'].nunique()

print(estab_uni, 'estabelecimentos aplicaram as vacinas no Acre.')

205 estabelecimentos aplicaram as vacinas no Acre.

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [182]:
# 1) cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.

reg_18 = vac_ac[vac_ac['paciente_idade'] < 18].copy()
reg_18

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
6,74629aec-ea92-40cd-868e-23620e6cd055-i0b0,23545e868e3c4555ca5b0452613d44275102e44d432e27...,15,2006-01-15,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-09,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
9,5f2afecd-7550-4f5c-9afb-86043a6f06aa-i0b0,3c801e3d6595fb034082a1477d767e3e8a6a5a8830a964...,12,2009-08-27,M,3,PARDA,120005.0,10.0,ASSIS BRASIL,...,2.0,Faixa Etária,31065BD,PFIZER,Organization/28290,2022-01-10,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
14,96b08b97-3224-4c9c-aec7-9c03fbddb3cc-i0b0,3e955dff89eac98b6f8c9bf109305e0bea141ca33acacd...,15,2006-10-15,F,3,PARDA,130260.0,10.0,MANAUS,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/28290,2022-03-03,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
18,e5c2279b-611f-43d3-90f7-464bf7b922ed-i0b0,c189e5cc642304dacfa601cb29e7be6b704b6d9355397f...,16,2005-08-16,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-11,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
24,8d55063b-1d12-4a97-8351-c1263f110e81-i0b0,563a39a555f59fe2e01a974c7f619d069f6d2316eef22a...,7,2014-11-19,M,5,INDIGENA,120043.0,10.0,SANTA ROSA DO PURUS,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-24,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375504,cf5b652c-f907-41d1-85db-26594905599f-i0b0,2c07abbe2e0affb7b5dfb01bd16ccf7ede1d26c0197cc1...,13,2007-10-20,F,1,BRANCA,120020.0,10.0,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
375505,cfc17e79-db4f-46e6-9984-3e9245b77d35-i0b0,cac90ce49536034dcaf054c9bc9b5e3ad897086fd0e18e...,13,2008-03-18,M,3,PARDA,120035.0,10.0,MARECHAL THAUMATURGO,...,9.0,Trabalhadores de Saúde,ED7207,PFIZER,NaN,2021-11-29,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,ESUS APS - NACIONAL (OFFLINE)
375518,d0dbece5-33d7-4e29-982c-aa26bea10ac1-i0b0,5a151565aa08f0edcd01f22fb8e5c548cf0cfe9561efd3...,12,2008-09-29,F,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-09,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
375521,d1512879-1dcd-4a80-9dca-21597ac68b9b-i0b0,99c9f90fc09e314b4f3dbbf6ecfccc666d5c00c8c2c01c...,17,2004-05-07,M,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
375522,d15e007a-f7d9-43f2-bb5c-94a0986f4cf7-i0b0,00a2cf8cb156ba7c3b61116431c4f1a0a5b175233a872a...,11,2010-08-09,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,NaN,NaN,FN4073,PFIZER - PEDI?TRICA,28290,2022-07-29,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [195]:
# 2) lista das colunas desse DataFrame com o atributo de DataFrame .columns()

coluna_nome = reg_18.columns

print(*coluna_nome, sep = '\n')

document_id
paciente_id
paciente_idade
paciente_dataNascimento
paciente_enumSexoBiologico
paciente_racaCor_codigo
paciente_racaCor_valor
paciente_endereco_coIbgeMunicipio
paciente_endereco_coPais
paciente_endereco_nmMunicipio
paciente_endereco_nmPais
paciente_endereco_uf
paciente_endereco_cep
paciente_nacionalidade_enumNacionalidade
estabelecimento_valor
estabelecimento_razaoSocial
estalecimento_noFantasia
estabelecimento_municipio_codigo
estabelecimento_municipio_nome
estabelecimento_uf
vacina_grupoAtendimento_codigo
vacina_grupoAtendimento_nome
vacina_categoria_codigo
vacina_categoria_nome
vacina_lote
vacina_fabricante_nome
vacina_fabricante_referencia
vacina_dataAplicacao
vacina_descricao_dose
vacina_codigo
vacina_nome
sistema_origem

In [198]:
# 3) contagem do campo vacina_categoria_nome

print('Contagem do campo: ', reg_18['vacina_categoria_nome'].shape[0])
print('Contagem única do campo: ', reg_18['vacina_categoria_nome'].nunique())

Contagem do campo:  70960
Contagem única do campo:  13

In [226]:
# 4) a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma 
# lista com esses valores.

col_estab = ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']

print('As colunas que se referem ao estabelecimento são:')
col_estab

As colunas que se referem ao estabelecimento são:

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [227]:
# 5) usando o método .loc, selecione somente essas variáveis

reg_18_estab = reg_18.loc[:, col_estab]

print('Tabela apenas com as colunas:')
reg_18_estab

Tabela apenas com as colunas:

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
14,2000156,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE BASICA DE SAUDE JOAO WANDERLEI,120060,TARAUACA,AC
18,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
24,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC
...,...,...,...,...,...,...
375504,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
375505,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
375518,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
375521,2002566,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE LAURO FONTES DA SILVA,120050,SENA MADUREIRA,AC
375522,2000326,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA GEOSETE COELHO MAR...,120020,CRUZEIRO DO SUL,AC

In [231]:
# 6)Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, 
# com os dados do estabelecimento

print('Dados de cada estabelecimento que aplicou vacinas em menores de 18 anos:')
reg_18_estab.drop_duplicates()

Dados de cada estabelecimento que aplicou vacinas em menores de 18 anos:

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
14,2000156,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE BASICA DE SAUDE JOAO WANDERLEI,120060,TARAUACA,AC
24,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC
43,6430201,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA,POLO BASE INDIGENA,120032,JORDAO,AC
...,...,...,...,...,...,...
209566,755605,USF BARRO VERMELHO,USF BARRO VERMELHO,120040,RIO BRANCO,AC
218288,7123043,PREFEITURA MUNICIPAL DE JORDAO,SAUDE DA FAMILIA RIBEIRINHA,120032,JORDAO,AC
222793,2003031,MUNICIPIO DE RIO BRANCO,USF VITORIA,120040,RIO BRANCO,AC
226849,2001837,PREFEITURA MUNICIPAL DE RIO BRANCO,USF SANTA INES I,120040,RIO BRANCO,AC
253865,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC